<div class="container" style="margin-left: 10%;margin-top: 2%;">
    <h1>Company Name: {{company_name}}</h1>
    <h4>Symbol: {{symbol}}</h4>
    <h5>Market Cap:  {{market_cap}}</h5>
</div>
<br>
<hr >
<br>
<div class="row">
    <div class="col-md-6">
        <table class="main-stats-table">
            <tr>
                <td class="main-stats-table-left">Total Articles</td>
                <td class="main-stats-table-right">{{total_article}}</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>
            <tr>
                <td class="main-stats-table-left">Positive</td>
                <td class="main-stats-table-right">{{positive_article}}</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Negative</td>
                <td class="main-stats-table-right">{{negative_article}}</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Neutral</td>
                <td class="main-stats-table-right">{{neutral_article}}</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Biased</td>
                <td class="main-stats-table-right">{{biased}}</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Unbaised</td>
                <td class="main-stats-table-right">{{unbiased}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              [colors]="donutColors1">
            </canvas>
          </div>
          
    </div>
</div>
<br>
<hr>

<h3 style="margin-left: 5%;">Articles:</h3>

<div *ngFor="let art of analyzed_data">
    <div class="article container" style="margin-top: 2%;">
        <div class="row">
                <div class="col-md-6">
                    <h6>Title : {{art.title}}</h6>
                    <h6>Date : {{art.datetime}}</h6>
                    <h6>URL : <a href="{{art.url}}">{{art.url}}</a></h6>
                    <h6>Subjectivity: {{art.subjectivity>0.5?"Biased":"Unbiased"}}</h6>
                </div>
                <div class="col-md-6">
                    <div style="display: block;">
                        <canvas baseChart 
                          [data]="[art.positive,art.negative,art.neutral]" 
                          [labels]="pieChartLabels" 
                          [chartType]="pieChartType"
                          [options]="pieChartOptions"
                          [plugins]="pieChartPlugins"
                          [legend]="pieChartLegend"
                          [colors]="donutColors1">
                        </canvas>
                </div>
        </div>
    </div>
    
</div>
