<div class="container">
    <h1>Company Name: Reliance Industries</h1>
    <h4>Symbol: RELIANCE</h4>
    <h5>Market Cap:  129873981273.23</h5>
</div>
<hr >
<div class="row">
    <div class="col-md-6">
        <table class="main-stats-table">
            <tr>
                <td class="main-stats-table-left">Total Articles</td>
                <td class="main-stats-table-right">10</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>
            <tr>
                <td class="main-stats-table-left">Positive</td>
                <td class="main-stats-table-right">5</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Negative</td>
                <td class="main-stats-table-right">3</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Neutral</td>
                <td class="main-stats-table-right">2</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Biased</td>
                <td class="main-stats-table-right">6</td>
            </tr>
            <tr class="main-stats-table-spacer"></tr>

            <tr>
                <td class="main-stats-table-left">Unbaised</td>
                <td class="main-stats-table-right">2</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        piechart
    </div>
</div>
<hr>
<div class="container">
<h3>Articles:</h3>
    
</div>
<div class="article container">
    <div class="row">
            <div class="col-md-6">
                <h6>Title : Something Something</h6>
                <h6>Date : 22/10/30 12:20:00</h6>
                <h6>URL : <a>www.google.com</a></h6>
                <h6>Subjectivity: Biased</h6>
            </div>
            <div class="col-md-6">
                Pie chart
            </div>
    </div>
</div>
