
.imgFormat
{
    position: absolute;
    width: 609px;
    height: 607px;
    left: 78px;
    top: 129px;

/* background: url(Search page pic.png); */
}

 .text-center{
    text-align:center;
}
.bold-center{
    text-align:center;
    font-size:"large";
}

.text1{
    text-align:"right";
    font-size:"150%";
}
.text2{
    text-align:"center";
    font-size:"200%";
}

    


