<nav class="navbar navbar-light" style="background-color: #3FBFA0;">

  <div class="container-fluid">
    <a class="navbar-brand"   style="color: aliceblue;" href="#">STOCK SENTIMENT</a>
  </div>
</nav>

<!-- <div class="container">

        <img src="../../../assets/Search page pic.png" class="rounded float-start" alt="...">
      <img src="Search page pic.png" class="rounded mx-auto d-block" alt=""> -->
  
<!-- </div>  -->
 
<!-- <div class="row">
    <div class="col-sm-6">       
        <img src="../../../assets/Search page pic.png" class="rounded float-start" alt="...">
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            SEARCH
        </button>
    </div>  
</div>         -->
        

    <div class="container-fluid">
      <b class="navbar-brand" style="color: aliceblue;" href="#">STOCK SENTIMENT</b>
    </div>
  </nav>
  

  <p class="text-center">Company Name:</p>
  <p class="bold-center"><b>NAME DISPLAYED HERE </b></p>
  <p class="text-center">Market cap display</p>
 

  <div class="Box">
    <p class="text1" style="padding-left: 80px;">Total articles: Display</p>
    <p class="text2" style="padding-left: 80px;">Positive: Display</p>
    <p class="text3" style="padding-left: 80px;">Neutral: Display</p>
    <p class="text4" style="padding-left: 80px;">Negative Display</p>
    <p class="text5" style="padding-left: 80px;">Biased: Display</p>
    <p class="text6" style="padding-left: 80px;">Unbiased: Display</p>
</div>
<div class="progress">
  <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>


