<nav class="navbar navbar-light" style="background-color: #3FBFA0;">
  <div class="container-fluid">
    <a class="navbar-brand"   style="color: aliceblue;" href="#">STOCK SENTIMENT</a>
  </div>
</nav>

<!-- <div class="container">

        <img src="../../../assets/Search page pic.png" class="rounded float-start" alt="...">
      <img src="Search page pic.png" class="rounded mx-auto d-block" alt=""> -->
  
<!-- </div>  -->
 
<!-- <div class="row">
    <div class="col-sm-6">       
        <img src="../../../assets/Search page pic.png" class="rounded float-start" alt="...">
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            SEARCH
        </button>
    </div>  
</div>         -->
        
