<div class="row">
    <div class="col-sm-6">    
        <div class="imgFormat">
            <img src="../../../assets/Search page pic.png" class="rounded float-start" alt="...">
        </div>   
    </div>
    <div class="col-sm-6">
        <h1 style = "padding-top: 30%; font-size: 94px;">SEARCH STOCK</h1>
        
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button type="button" style="margin-right: 20%;" class="btn btn-outline-primary">search</button>
        </div>
    <br>
    </div>  
</div>        
        